.background {
  background-color: rgb(35, 53, 68);
}

#characters-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  
}

.image-container {
  position: relative;
  width: 90%; /* Ocupar 90% da largura da tela */
  max-width: 800px; /* Tamanho máximo */
  height: auto;
}

.image {
  width: 100%; /* Imagem ocupa 100% da largura do container */
  height: auto;
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  object-fit: cover; /* Ajusta o conteúdo da imagem */
}

.nav-button {
  background-image: url('imagem_2025-01-23_112055636-removebg-preview.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; /* Ajusta a imagem ao tamanho do botão */
  position: absolute;
  transform: translateY(-50%);
  border: none;
  padding: 0; /* Remove espaçamento interno */
  width: 60px; /* Ajuste o tamanho do botão */
  height: 60px;
  cursor: pointer;
  background-color: transparent; /* Garante que o fundo seja transparente */
  transition: transform 0.3s ease, background-color 0.5s ease;
}

.nav-button:hover {
  transform: translateY(-50%) scale(1.2); /* Aumenta proporcionalmente */
}

#prev-button {
  left: -80px; 
  rotate: 180deg;
  top: 38%;
}

#next-button {
  right: -80px;
  top: 50%; /* Alinhado à direita */
}


@media (max-width: 768px) {
  .image-container {
    width: 100%; /* No celular ocupa toda a largura */
  }

  .nav-button {
    left: 10px;
    right: 10px;
  }
}
