.ImageExampleContainer{
    width:100%;
    max-width:600px;
    display:flex;
    flex-direction:column;

}
.ImageExampleContainer div{
    padding:20px;
    display:flex;
    flex-direction:row;
    width:100%;
    gap:10%;
    justify-content:center;
}
.ImageExampleContainer button{
    width:40%;
}
.ImageExampleContainer img{
    width:100%;
}

.deleteButton{
    background-color:#cf0029;
}

.editButton{
    background-color:#cf7c00
}

.image-container6{
    display:flex;
    justify-content:center;
    flex-direction:Column;
    gap:5px;
    padding:2%;
}
#ImageList{
    gap:2%;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    margin: auto;
    padding: 2%;
    text-align: center;
    justify-content:center;
    align-itens:center;
    gap: 2%;
}