.container5 {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title5 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.message {
  color: red;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.button5 {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button5:hover {
  background-color: #0056b3;
}

.button5:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
