@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Dots:wght@400..700&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Roboto+Slab:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

main {
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  left: 0;
  overflow-x: hidden;
  font-family: "Roboto Slab", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  background-color: #77B3D4;
  color: #fff;
  font-weight: 300;
}

.nav-left {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 20px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  transition: color 0.3s ease;
}

.nav-left a:hover,
.nav-right a:hover {
  color: #c0f8ff;
}

/* //////////////////////////////////////////////////// */

.container {
  max-width: 100%;
  height: 100%;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}


.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.title {
  font-size: 1.5rem;
  color: #007acc;
  font-weight: normal;
}

.search-container {
  display: flex;
  align-items: center;
  width: 15%;
  margin-right: 5%;
  color: #77b3d4;
  flex-direction: column;
  border-bottom: 2px solid #77b3d4;
}

.Pesquisar {
  display: flex;
  flex-direction: row;
  gap: 5%;
  width: 100%;
  padding: 5px 0;
}

.search-icon {
  width: 16px;
  height: 16px;
  background-color: transparent;
  mask: url('Search_icon.svg.png') no-repeat center;
  -webkit-mask: url('Search_icon.svg.png') no-repeat center;
  mask-size: cover;
  -webkit-mask-size: cover;
  background-color: #77b3d4;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
  color: #007acc;
  font-family: "Rubik", sans-serif;
}

.notification-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.notification-icon {
  width: 20px;
  height: 20px;
  background-image: url('bell-icon.svg') no-repeat center;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #77B3D4;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.results-container {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all .5 ease-in;
}

.result-item {
  padding: 10px;
  color: #007acc;
  cursor: pointer;
  transition: 0.5s all;
}

.result-item:hover {
  background-color: #235a86;
}